:root {
  --foreground-color: #eeeeee;
  --background-color: #000000;
  --highlight-color: #a464c2;
  --border-color: #0f1011;
  --sn-stylekit-neutral-color: #72767e;
  --sn-stylekit-neutral-contrast-color: #ffffff;

  --sn-stylekit-info-color: var(--highlight-color);
  --sn-stylekit-info-color-darkened: #6d4281;
  --sn-stylekit-info-contrast-color: #ffffff;
  --sn-stylekit-info-backdrop-color: #2b6fcf0f;

  --sn-stylekit-success-color: #007662;
  --sn-stylekit-success-contrast-color: #ffffff;

  --sn-stylekit-warning-color: #ebad00;
  --sn-stylekit-warning-contrast-color: #ffffff;

  --sn-stylekit-danger-color: #cc2128;
  --sn-stylekit-danger-contrast-color: #ffffff;
  --sn-stylekit-danger-light-color: #f9e4e5;

  --sn-stylekit-shadow-color: #000000;
  --sn-stylekit-background-color: var(--background-color);
  // For borders inside background-color
  --sn-stylekit-border-color: #181a1b;
  --sn-stylekit-foreground-color: var(--foreground-color);
  // Colors for layers placed on top of non-prefixed background, border, and foreground
  --sn-stylekit-contrast-background-color: #000000;
  --sn-stylekit-contrast-foreground-color: #ffffff;
  --sn-stylekit-contrast-border-color: #000000; // For borders inside contrast-background-color

  // Alternative set of background and contrast options
  --sn-stylekit-passive-color-4: #1c1d1e;
  --sn-stylekit-secondary-background-color: var(--sn-stylekit-passive-color-4);
  --sn-stylekit-secondary-foreground-color: #ffffff;
  --sn-stylekit-secondary-border-color: #000000;

  --sn-stylekit-secondary-contrast-background-color: #000000;
  --sn-stylekit-secondary-contrast-foreground-color: #ffffff;
  --sn-stylekit-secondary-contrast-border-color: #ffffff;

  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);

  --sn-stylekit-paragraph-text-color: #454545;

  --sn-stylekit-input-placeholder-color: #a8a8a8;
  --sn-stylekit-input-border-color: #181a1b;

  --sn-stylekit-scrollbar-thumb-color: var(--sn-stylekit-info-color);
  --sn-stylekit-scrollbar-track-border-color: var(--border-color);

  --sn-stylekit-theme-type: light;
  --sn-stylekit-theme-name: sn-light;

  --sn-stylekit-passive-color-0: #515357;
  --sn-stylekit-passive-color-1: #72767e;
  --sn-stylekit-passive-color-2: #bbbec4;
  --sn-stylekit-passive-color-3: #dfe1e4;
  --sn-stylekit-passive-color-4-opacity-variant: #bbbec43d;
  --sn-stylekit-passive-color-5: #f4f5f7;
  --sn-stylekit-passive-color-6: #e5e5e5;
  --sn-stylekit-passive-color-super-light: #f9f9f9;

  --sn-stylekit-accessory-tint-color-1: #086dd6;
  --sn-stylekit-accessory-tint-color-2: #ea6595;
  --sn-stylekit-accessory-tint-color-3: #ebad00;
  --sn-stylekit-accessory-tint-color-4: #7049cf;
  --sn-stylekit-accessory-tint-color-5: #1aa772;
  --sn-stylekit-accessory-tint-color-6: #f28c52;

  --sn-desktop-titlebar-bg-color: var(--background-color);
  --sn-desktop-titlebar-border-color: var(--border-color);
  --sn-desktop-titlebar-ui-color: var(--foreground-color);
}
