.duration-150 {
  transition-duration: 0ms;
}

.ease-out {
  transition-timing-function: ease-out;
}

.transition-background {
  transition-property: background;
}

.transition-transform {
  transition-property: transform;
}

.transition,
.transition-\[transform,opacity\],
.transition-\[width\],
.transition-all,
.transition-colors,
.transition-opacity,
.transition-transform,
.transition-width,
.motion-reduce:transition-opacity
{
  transition-duration: 0ms !important;
  transition-property: none !important;
  transition-timing-function: none !important;
}
